.test {
  width: 330px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

/* External styling */
.cB {
  width: 150px;
  height: 100px;
  color: blueviolet;
  font-size: 25;
}

.margin {
  margin-top: 500px;
  margin-left: 500px;
}
